; ============================================
; migux minimal example config
; ============================================

[global]
worker_processes = 1
worker_connections = 256
log_level = "info"
error_log = "/var/log/migux/error.log"

[http]
sendfile = true
keepalive_timeout_secs = 65
access_log = "/var/log/migux/access.log"

[server.main]
listen = "0.0.0.0:8080"
server_name = "localhost"
root = "./public"
index = "index.html"

[location.main_root]
server = "main"
path = "/"
type = "static"
